:root {
  font-family: var(--font-roboto), system-ui, -apple-system, sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-roboto), system-ui, -apple-system, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f8f9fa;
}

main {
  display: flex;
  flex-direction: column;
}



* {
  box-sizing: border-box;
}